body {
    color: rgb(158, 76, 235);
    max-width: 1300px;
    max-height: 600px;
    background-color: black;
    border: 5px solid blueviolet;
    position: relative;
    font-family: sans-serif;
}

.sec1 {
    display: flex;
    gap: 5px;
    margin-left: 20px;
    padding: 30px 10px;
}

.text1 {
    font-size: large;
    padding-top: 18px;
}

.icone_puzzle {
    position: relative;
    bottom: 3px;
    transform: rotateY(180deg);
}

.colunas{
    display: flex;
}

.coluna1{
    margin-left: 85px;
    padding-top: 70px;
    max-width:540px;
}

.coluna2{
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 540px;
    height: 602px;
    position: relative;
    bottom: 19vh;
    left: 13vh;
}

.lorem1{
    font-size:40px;
}

.lorem2{
    font-size: large;
    line-height: 1.9;
}

.icone_img{
    display: flex;
            justify-content: center;
            align-items: center;
            height: 50vh;
            margin: 0;
}



.button1{
    background-color: blueviolet;
    font-size: x-large;
    width: 250px;
    height: 70px;
}